<template>
  <form @submit.prevent="submit" :data="dished">
    <div class="form-group">
      <label class="form-label">Dishes Number</label>
      <input style="display: none;" v-model="id"/>
      <select id="code" name="code" class="form-control"
              type="text" v-model="code">
        <option value="null" selected disabled hidden>Dishes Number</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="02">04</option>
        <option value="03">05</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-label">Select Title</label>
      <select id="title" name="title" class="form-control"
              type="text" v-model="title">
        <option value="null" selected disabled hidden>Select Title</option>
        <option value="like">like</option>
        <option value="dislike">dislike</option>
      </select>
    </div>
    <div class="form-group" :class="{ 'form-group--error': $v.message }">
      <label class="form__label">Message</label>
      <input class="form__input" placeholder="enter some message here" v-model="message">
    </div>
    <div class="error" v-if="!$v.message.required">Message is Required</div>
    <div class="error" v-if="!$v.message.minLength">Message must have at least {{$v.message.$params.minLength.min}}
      letters.
    </div>
    <p>
      <button class="btn btn-primary btn1" type="submit" :disabled="submitStatus === 'PENDING'">{{ commentBtnTitle }}
      </button>
    </p>
    <p>
      <a href="#/comment" class="btn btn-primary btn1" role="button">Manage Comments</a>
    </p>
    <p class="typo__p" v-if="submitStatus === 'OK'">Thanks for your Donation!</p>
    <p class="typo__p" v-if="submitStatus === 'ERROR'">Please Fill in the Form Correctly.</p>
    <p class="typo__p" v-if="submitStatus === 'PENDING'">Donating...</p>
  </form>
</template>

<script>
import Vue from 'vue'
import VueForm from 'vueform'
import Vuelidate from 'vuelidate'
import {required, minLength} from 'vuelidate/lib/validators'
import DishedCommentService from '@/services/DishedCommentService'

Vue.use(VueForm, {
  inputClasses: {
    valid: 'form-control-success',
    invalid: 'form-control-danger'
  }
})

Vue.use(Vuelidate)

export default {
  name: 'FormData',
  props: ['commentBtnTitle', 'dished'],
  created: function () {
    this.loadComment()
  },
  data: function () {
    return {
      messagetitle: ' Dished ',
      message: this.dished.message,
      code: this.dished.code,
      title: this.dished.title,
      submitStatus: null,
      id: ''
    }
  },
  validations: {
    message: {
      required,
      minLength: minLength(5)
    }
  },
  methods: {
    loadComment: function () {
      DishedCommentService.fetchComment(this.$router.params)
        .then(response => {
          this.message = response.data[0].message
          this.code = response.data[0].code
          this.title = response.data[0].title
          this.id = response.data[0]._id
          console.log(response.data)
        }).catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    },
    submit: function () {
      console.log('submit!')
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        // do your submit logic here
        this.submitStatus = 'PENDING'
        setTimeout(() => {
          this.submitStatus = 'OK'
          var dished = {
            code: this.code,
            title: this.title,
            message: this.message,
            id: this.id
          }
          this.dished = dished
          console.log('Submitting in DonationForm : ' +
            JSON.stringify(this.dished, null, 5))
          this.$emit('comment-is-created-updated', this.dished)
        }, 500)
      }
    }
  }
}
</script>

<style scoped>
  #app1 {
    width: 95%;
    margin: 0 auto;
  }

  .required-field > label::after {
    content: '*';
    color: red;
    margin-left: 0.25rem;
  }

  .donate-form .form-control-label.text-left {
    text-align: left;
  }

  label {
    display: inline-block;
    width: 540px;
    text-align: left;
    font-size: x-large;
  }

  .typo__p {
    width: 540px;
    font-size: x-large;
  }

  .btn1 {
    width: 300px;
    font-size: x-large;
  }

  p {
    margin-top: 20px;
  }

  input {
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
    width: 540px;
  }

  .dirty {
    border-color: #5A5;
    background: #EFE;
  }

  .dirty:focus {
    outline-color: #8E8;
  }

  .error {
    border-color: red;
    background: #157ffb;
    color: whitesmoke;
  }

  .error:focus {
    outline-color: #ffa519;
  }
</style>
