<template>
  <div id="app1" class="hero">
    <h3 class="vue-title"><i class="fa fa-money" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div class="container mt-3 mt-sm-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <comment-form :dished="dished" commentBtnTitle="Make Comment"
                         @comment-is-created-updated="submitDished"></comment-form>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div>
</template>

<script>
import DishedCommentService from '@/services/DishedCommentService'
import DishedForm from '@/components/DishedForm'
import Cookie from 'js-cookie'

export default {
  beforeCreate1 () {
    let username = Cookie.get('username')
    if (!username) {
      this.$router.push('/Login')
    }
  },
  data () {
    return {
      dished: {code: '01', title: 'dislike', message: ''},
      messagetitle: ' Make Comment '
    }
  },
  components: {
    'comment-form': DishedForm
  },
  methods: {
    submitDished: function (comment) {
      console.log(comment)
      DishedCommentService.postComment(comment)
        .then(response => {
          this.$router.push('/comment')
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>
  #app1 {
    width: 95%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
