<template>
  <div class="hero">
    <h3 class="vue-title"><i class="fa fa-list" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div id="app1">
      <v-client-table :columns="columns" :data="dishes" :options="options">
        <a slot="upvote" slot-scope="props" class="fa fa-thumbs-up fa-2x" @click="upvote(props.row._id)"></a>
        <a slot="downvote" slot-scope="props" class="fa fa-thumbs-down fa-2x" @click="downvote(props.row._id)"></a>
        <a slot="edit" slot-scope="props" class="fa fa-edit fa-2x" @click="editComment(props.row._id)"></a>
        <a slot="remove" slot-scope="props" class="fa fa-trash-o fa-2x" @click="deleteComment(props.row._id)"></a>
      </v-client-table>
    </div>
  </div>
</template>

<script>
import DishedCommentService from '@/services/DishedCommentService'
import Vue from 'vue'
import VueTables from 'vue-tables-2'
import Cookie from 'js-cookie'

Vue.use(VueTables.ClientTable, {compileTemplates: true, filterByColumn: true})

export default {
  name: 'Dishes',
  beforeCreate1 () {
    let username = Cookie.get('username')
    if (!username) {
      this.$router.params = '/DishesComment'
      this.$router.push('/Login')
    }
  },
  data () {
    return {
      messagetitle: ' Comment List ',
      dishes: [],
      props: ['_id'],
      errors: [],
      columns: ['_id', 'code', 'title', 'message', 'upvotes', 'upvote', 'edit', 'remove'],
      options: {
        perPage: 10,
        filterable: ['code', 'title'],
        sortable: ['upvotes'],
        headings: {
          _id: 'ID',
          code: 'dishes number',
          title: 'title',
          message: 'message',
          upvotes: 'votes'
        }
      }
    }
  },
  // Fetches Dishes when the component is created.
  created () {
    this.loadDishes()
  },
  methods: {
    loadDishes: function () {
      DishedCommentService.fetchComments()
        .then(response => {
          // JSON responses are automatically parsed.
          this.dishes = response.data
          console.log(this.dishes)
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    },
    upvote: function (id) {
      DishedCommentService.upvoteComment(id)
        .then(response => {
          // JSON responses are automatically parsed.
          this.loadDishes()
          console.log(response)
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    },
    downvote: function (id) {
      DishedCommentService.downvoteComment(id)
        .then(response => {
          // JSON responses are automatically parsed.
          this.loadDishes()
          console.log(response)
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    },
    editComment: function (id) {
      this.$router.params = id
      this.$router.push('comment-edit')
    },
    deleteComment: function (id) {
      this.$swal({
        title: 'Are you totaly sure?',
        text: 'You can\'t Undo this action',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'OK Delete it',
        cancelButtonText: 'Cancel',
        showCloseButton: true
        // showLoaderOnConfirm: true
      }).then((result) => {
        console.log('SWAL Result : ' + result.value)
        if (result.value === true) {
          DishedCommentService.deleteComment(id)
            .then(response => {
              // JSON responses are automatically parsed.
              this.message = response.data
              console.log(this.message)
              this.loadDishes()
              // Vue.nextTick(() => this.$refs.vuetable.refresh())
              this.$swal('Deleted', 'You successfully deleted this Dished ' + JSON.stringify(response.data, null, 5), 'success')
            })
            .catch(error => {
              this.$swal('ERROR', 'Something went wrong trying to Delete ' + error, 'error')
              this.errors.push(error)
              console.log(error)
            })
        } else {
          console.log('SWAL Else Result : ' + result.value)
          this.$swal('Cancelled', 'Your Dished still Counts!', 'info')
        }
      })
    }
  }
}
</script>

<style scoped>
  #app1 {
    width: 60%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
