<template>
  <button  v-on:click="click"> Continue with Google</button>
</template>
<script>
import Vue from 'vue'
import GoogleAuth from 'vue-google-auth'
import Cookie from 'js-cookie'

Vue.use(GoogleAuth, { clientID: '255162769369-hvci9gag31tdurqgbu11ks41q62p21ve.apps.googleusercontent.com' })
Vue.googleAuth().load()

export default {
  beforeCreate () {
    let username = Cookie.get('username')
    if (username) {
      this.$router.push('/#')
    }
  },
  methods: {
    click: function () {
      // Just add in this line
      Vue.googleAuth().directAccess()

      Vue.googleAuth().signIn((googleUser) => {
        Cookie.set('username', googleUser.w3.ig)
        this.$emit('login', googleUser.w3.ig)
        let router = this.$router.params
        if (!router || router === 'Login') {
          router = '/#'
        }
        this.$router.push(router)
      }, (error) => {
        console.log(error)
      })
    }
  }
}
</script>

<style>
  .google-signin-button {
    color: white;
    background-color: red;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 20px 25px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
</style>
