<template>
  <div class="container mt-3 mt-sm-5 hero">
    <h3 class="vue-title"><i class="fa fa-globe" style="padding: 3px"></i>{{title}}</h3>
  <div class="simple-map demo">

    <!-- Map -->
    <googlemaps-map
      ref="map"
      class="map"
      :center.sync="center"
      :zoom.sync="zoom"
    >
      <!-- User Position -->
      <googlemaps-user-position
        @update:position="setUserPosition" />

      <!-- Marker -->
      <googlemaps-marker
        title="Paris"
        :draggable="true"
        :position="{ lat: 52.258524, lng: -7.116486 }" />
      <googlemaps-marker
        title="Paris"
        :draggable="true"
        :position="{ lat: 52.258524, lng: -7.114486 }" />
      <googlemaps-marker
        title="Paris"
        :draggable="true"
        :position="{ lat: 52.248524, lng: -7.116486 }" />
    </googlemaps-map>
  </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import Vue from 'vue'
import VueGoogleMaps from 'vue-googlemaps'

Vue.use(VueGoogleMaps, {
  load: {
    apiKey: 'AIzaSyAYGODLvOiYj1RVmsFF21ZRcfYVuWi4iSk',
    libraries: ['places']
  }
})

export default {
  data () {
    return {
      center: {
        lat: 52.258524,
        lng: -7.116486
      },
      options: {
      },
      userPosition: null,
      zoom: 12,
      title: ' Google Map '
    }
  },

  methods: {
    ...mapActions('layout', [
      'toggleSideNav'
    ]),

    polylineClicked () {
      console.log('clicked')

      const options = {
        strokeOpacity: Math.random()
      }

      this.options = options
    },

    pathChanged (path) {
      console.log(path)
    },

    centerOnUser () {
      if (this.userPosition) {
        this.center = this.userPosition
      }
    },

    setUserPosition (position) {
      this.userPosition = position
    }
  }
}
</script>
<style type="text/css" >
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
  .demo ,.map{
    height: 70vh;
  }
  .map-view{
    width: 100%;
    height: 700px;
  }
</style>
