<template>
  <div id="app">
    <b-navbar toggleable="md" variant="dark" type="dark">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <img src="./assets/mevnnav.png" class="img-circle" style="padding: 5px">
      <b-navbar-brand to="/">Dishes Web App</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/#"><i class="fa fa-home" style="padding: 5px"> Home</i></b-nav-item>
          <b-nav-item to="/dishes"><i class="fa fa-list" style="padding: 5px"> Manage Dishes</i></b-nav-item>
          <b-nav-item to="/dished"><i class="fa fa-money" style="padding: 5px"> Comment</i></b-nav-item>
          <b-nav-item to="/comment"><i class="fa fa-money" style="padding: 5px"> Comment List</i></b-nav-item>
          <b-nav-item to="/map"><i class="fa fa-globe" style="padding: 5px"> Map</i></b-nav-item>
          <b-nav-item to="/video"><i class="fa fa-youtube-play" style="padding: 5px"> Video</i></b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
<!--          <b-nav-item to="/about"><i class="fa fa-info" style="padding: 5px"> About Us</i></b-nav-item>-->
<!--          <b-nav-item to="/contact"><i class="fa fa-comment" style="padding: 5px"> Contact Us</i></b-nav-item>-->
          <b-nav-item ><i class="fa username" style="padding: 5px" v-text="username"></i></b-nav-item>
          <b-nav-item v-if="username == ''|| username == undefined" to="/login"><i class="fa fa-sign-in" style="padding: 5px"> Login </i></b-nav-item>
          <b-nav-item v-if="username != '' && username != undefined" @click="logout"><i class="fa fa-sign-in" style="padding: 5px"> Logout </i></b-nav-item>
          <i class="fa fa-pied-piper-alt fa-1x" style="padding: 5px; color: white;"></i>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view @login="login"/>
  </div>
</template>

<script>
import Cookie from 'js-cookie'
export default {
  name: 'App',
  created () {
    console.log(Cookie.get('username'))
  },
  data () {
    return {
      username: Cookie.get('username')
    }
  },
  methods: {
    login: function (username) {
      this.username = Cookie.get('username')
      console.log('recived')
    },
    logout: function () {
      this.username = ''
      Cookie.remove('username')
      this.$router.push('/Login')
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-top: 20px;
  background: url("./assets/homebg.png") no-repeat left top;
}
.VueTables__sortable {
  cursor: pointer;
}
.hero{
  height: 100vh;
}

.username{
  color: white;
}
</style>
